<h1>ini halaman untuk upload csv dan melakukan klasifikasi</h1>
<p>ini halaman untuk user dishub dapat melakukan upload file csv yang belum ada label (nilai di kolom "tingkat_kepadatan")
    dan melakukan klasifikasi. jika sudah maka akan ada pop up berhasil/tidak. dan jika berhasil nanti ada 2 button 
    yaitu button 'validasi' / 'cek' untuk nantinya diarahkan ke validasi.html, dan button 'oke' untuk kembali ke halaman ini lagi.
    oh iya di pop up nya kalau berhasil sertakan juga file hasil klasisifikasi yang sudah ber label "tingkat_kepadatan" beserta button unduh.
</p>